<table class="table">
  <thead>
    <tr data-hook="labels_header">
      <th><%= t(:name) %></th>
      <th><%= t(:shape) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% labels.each do |label| %>
      <tr id="<%= dom_id(label) %>" data-hook="labels_row">
        <td><%= label.title %></td>
        <td><span class="label" style="background-color:<%=label.color%>"><%= label.shape %></span></td>
        <td class="actions">
          <%= @product ? link_to_with_icon('remove', Spree.t(:delete), remove_admin_product_label_path(@product, label), class: "btn btn-danger btn-sm", method: :delete ) : link_to_delete(label) %>
        </td>
      </tr>
    <% end %>
    <% if labels.empty? %>
      <tr data-hook="labels_none"><td colspan="3"><%= t(:none) %>.</td></tr>
    <% end %>
  </tbody>
</table>
