<%= render :partial => 'spree/admin/shared/sub_menu/product' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Labels' } %>
<div id="selected-labels" data-hook>
	<%= render :partial => 'label_table', :locals => { :labels => @labels } %>
</div>

<h3><%= Spree.t(:add) %></h3>
<%= form_tag spree.apply_admin_product_labels_path(@product) do %>
	<div class="form-group">
		<%= label_tag "product[labels_ids]", t(:search) %>
		<%= hidden_field_tag "product[labels_ids]", '', class: "", multiple: 'multiple', data: { product_id: @product.to_param, select_2: 'product_labels' } %>
	</div>
	<%= button Spree.t(:add), 'ok-sign', :submit, class: "btn-success" %>
<% end %>
